<!DOCTYPE html>
<html>
<head>
	<title> <%= @group.name %> </title>
</head>
<body>
	<br>
	Group Members are:
	<ol id="members_list"> 
	<% @members.each do |member| %>
		<li>
			<span> <%= member.name %> </span> 
			<span> <%= position(@group.id, member.user_id) %> </span>
			<% if position(@group.id, current_user.id) == 'admin' && member.user_id != current_user.id %>
				<% groups_users_id = groups_users_id(@group.id, member.user_id) %>
				<a class="remove_participant" id="participant_<%= groups_users_id %>" href="/groups/participant/remove"> Remove</a> &nbsp;&nbsp;&nbsp;&nbsp;
				<a class="make_admin_participant" id="participant_<%= groups_users_id %>" href="/groups/participant/make_admin"> Make Admin </a>
			<% end %>

		</li>
	<% end %>
	</ol>
	<% if position(@group.id, current_user.id) == 'admin' %>
		<% form_id = 'group_id_' + @group.id.to_s %>
		<%= form_tag '/groups/participant/add', class: 'add_participant', id: form_id  do %>
			<%= text_field_tag :add %>
			<%= submit_tag 'Add Participant' %>	
		<% end %>
	<% end %>
	<p id="result">
		
	</p>
</body>
</html>