<!DOCTYPE html>
<html>
<head>
	<title> Create Profile </title>
</head>
<body>
	<%= form_tag '/profile/create/confirm' do %>
		Name: <%= text_field_tag :name %> <br>
		username: <%= text_field_tag :username %> <br>
		Gender Male <%= radio_button_tag :gender, 'Male' %> Female <%= radio_button_tag :gender, 'Female' %> <br>
		DOB <%= date_field_tag :dob %> <br>
		Phone <%= text_field_tag :phone %> <br>
		Address <%= text_field_tag :address %> <br>
		City <%= text_field_tag :city %> <br>
		PIN <%= text_field_tag :pin %> <br>
		<%= submit_tag :Create %>  
	<% end %>
</body>
</html> 