<!DOCTYPE html>
<html>
<head>
	<title> Edit Profile </title>
</head>
<body>
<%= form_tag '/profile/edit/confirm' do %>
		Name: <%= text_field_tag :name, @person.name %> <br>
		username: <%= text_field_tag :username, @person.username %> <br>
		<% if @person.gender == "Male" %>
			Gender Male <%= radio_button_tag :gender, 'Male', selected: true %> Female <%= radio_button_tag :gender, 'Female' %> <br>
		<% else %>
			Gender Male <%= radio_button_tag :gender, 'Male' %> Female <%= radio_button_tag :gender, 'Female', selected: true  %> <br>
		<% end %>
		DOB <%= date_field_tag :dob, @person.dob %> <br>
		<% if @contact %>
			Phone <%= text_field_tag :phone, @contact.phone %> <br>
			Address <%= text_field_tag :address, @contact.address %> <br>
			City <%= text_field_tag :city, @contact.city %> <br>
			PIN <%= text_field_tag :pin, @contact.pin %> <br>
		<% else %>
			Phone <%= text_field_tag :phone %> <br>
			Address <%= text_field_tag :address %> <br>
			City <%= text_field_tag :city %> <br>
			PIN <%= text_field_tag :pin %> <br>
		<% end %>
		<%= submit_tag :Edit %>  
	<% end %>
</body>
</html>